html,
body {
  margin: 0 0;
  height: 100%;
  width: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  height: 100%;
  background: var(--background-color);
  color: var(--text-color);
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3rem;
}

strong {
  font-weight: var(--font-weight);
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 10%;
  color: var(--text-color);
}

h2 {
  padding-bottom: 7px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* Content reveal */

.observed {
  opacity: 0;
  transition: 2s ease-in-out;
}

.observed.isVisible {
  opacity: 1;
}

#about-underline.observed,
#project-underline.observed,
#tech-underline.observed {
  opacity: 1;
  transition: 1.5s ease-in-out;
}

#about-underline.observed.isVisible,
#project-underline.observed.observed.isVisible,
#tech-underline.observed.isVisible {
  width: 100%;
}

#about_image.observed {
  transition: 2s ease-in-out;
  height: 0%;
  width: 0%;
}
#about_image.observed.isVisible {
  height: 75%;
  width: 75%;
}

.cards.observed {
  left: -100px;
  transition-property: transform;
  transition-duration: 1s;
}

.cards.observed.isVisible {
  transform: translateX(100px);
}

.skills.observed {
  left: 50%;
  transition: 1.25s ease-in-out;
}

.skills.observed.isVisible {
  left: 0%;
}

.content.observed {
  opacity: 1;
  transition: 1s ease-in-out;
  top: 75%;
}

.content.observed.isVisible {
  top: 0%;
}

/* Stop Transition animations on page resize */

body.stop-transition .observed {
  transition: none !important;
}

/* NAV */
.nav-expand-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  color: var(--white);
  background: var(--nav-button);
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 2.5%;
  margin-left: 94%;
  margin-right: 5%;
  cursor: pointer;
  font-size: 2rem;
}

/* classes added to nav rotation button to give rotation animation on click */
.nav-icon-open {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transition: transform 350ms linear;
  -webkit-transition: transform 350ms linear;
  -moz-transition: transform 350ms linear;
}

.nav-icon-close {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transition: transform 350ms linear;
  -webkit-transition: transform 350ms linear;
  -moz-transition: transform 350ms linear;
}

.nav {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top of other html elements */
  background-color: var(--nav-color);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  right: 0px; /* align navbar to the right */
}

.nav-list {
  border-top: 3px solid #444;
  padding-top: 30px;
  padding-left: 0px;
  margin-top: 7%;
  border-bottom: 3px solid #444;
  padding-bottom: 25px;
  list-style-type: none;
  text-align: center;
}

/* The sidepanel links */
.nav a {
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  font-size: 25px;
  color: var(--text-color);
  display: block;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}

#nav-icon {
  color: var(--text-color);
  width: 200px;
  height: 200px;
  text-align: center;
  display: inline-block;
  background-image: url(imgs/MyFamily.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.nav-list a {
  display: block;
  font-size: 1.2rem;
  padding: 0.6rem;
  text-decoration: none;
}

.nav-list a:hover {
  text-decoration: underline;
}

.nav-contacts {
  display: flex;
  flex-direction: row;
  color: var(--white);
  width: 100%;
  font-size: 2.2rem;
  justify-content: center;
}

#mode-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.4rem;
  width: 100%;
  cursor: pointer;
}

#mode-toggle i {
  padding: 10px 0px 0px 15px;
}

#light-mode {
  color: orange;
}

#dark-mode {
  color: grey;
}

/* Introduction Page */
.page-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#introduction {
  position: relative;
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.container {
  justify-content: center;
  white-space: nowrap;
}

#particles-js {
  position: absolute;
  background-color: var(--background-color);
  z-index: -1;
  height: 100%;
  width: 100%;
}

.container-common-links {
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  padding-top: 5.5%;
  width: 30%;
  font-size: 2.25rem;
  justify-content: space-around;
  margin-bottom: 50px;
}

.typewriter h2 {
  padding-top: 5px;
  font-size: 2rem;
  color: var(--text-color);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--text-color); /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.25em; /* Adjust as needed */
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  -webkit-animation: typing 4s steps(40, end),
    blink-caret 0.75s step-end infinite;
  -moz-animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
  /* animation-delay: 100ms;  Delay the animation a little to account for page loading time */
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: grey;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: grey;
  }
}

.expand {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.expand:hover,
.expand:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  color: grey;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  cursor: hand;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  overflow: visible;
  visibility: hidden;
  width: 200px;
  background-color: var(--text-color);
  font-size: 1rem;
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  padding: 7px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 999;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  width: 120px;
  top: 140%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--text-color) transparent;
}

.fa-chevron-down {
  color: var(--text-color);
  bottom: 10px;
  font-size: 2rem;
  margin-left: -3px;
  cursor: pointer;
  position: absolute;
}

.bounce {
  animation: bounce 3s 2;
  -webkit-animation: bounce 3s 3;
  -moz-animation: bounce 3s 3;
  animation-delay: 4s;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
    -moz-transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
    -moz-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* About Page */
.page-container-row {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#columnOne {
  width: 50%;
  padding-left: 5%;
}

#columnTwo {
  width: 25%;
  padding-right: 5%;
}

#about_image {
  height: 75%;
  width: 75%;
  border: 3px solid grey;
  border-radius: 50%;
}

#about-underline {
  border-bottom: solid 3px grey;
  width: 30%;
}

@keyframes expandWidth {
  from {
    width: 20%;
  }
  to {
    width: 100%;
  }
}

.page-container-row h3 {
  text-align: left;
}

.page-container-row p {
  margin-left: 2vw;
}
/* Projects Page */
.project-text {
  width: 60%;
  color: var(--text-color);
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 3vh;
  margin-top: 45px;
  font-size: 1rem;
}

.project-text h2 {
  border-bottom: solid 3px grey;
  text-align: center;
  justify-content: center;
  width: 30%;
  font-size: 1.6rem;
}

#project-underline {
  border-width: 30%;
}

.project-text h3 {
  font-size: 1rem;
  margin-bottom: 2px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  margin-bottom: 20px;
}

.cards {
  padding: 0.5%;
  background-color: var(--card-background);
  color: var(--text-color);
  border-radius: 10px;
  margin-bottom: 1%;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  position: relative;
  left: 0px;
  -moz-box-shadow: 0px 0px 2px 0px var(--projects-shadow);
  -webkit-box-shadow: 0px 0px 2px 0px var(--projects-shadow);
  box-shadow: 0px 0px 2px 0px var(--projects-shadow);
}

.cards img {
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 12px;
}

.cards h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  display: inline-block;
  float: left;
}

.cards p {
  display: block;
  margin-top: 53px;
  font-size: 0.9rem;
}

.cards a {
  color: var(--card-icons);
  transition: all 600ms ease;
}

.cards:hover a {
  color: var(--text-color);
}

.cards:hover a i {
  animation: pulse linear 1s 3;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}

.technology-badges {
  display: flex;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  font-size: 1.8rem;
}

#align-right {
  float: right;
  display: inline-block;
  font-size: 1.5rem;
  text-align: right;
}

#align-right i {
  margin-right: 2px;
  margin-top: 5px;
  transition: all 600ms ease;
}

.cards:hover,
.cards:focus {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -moz-box-shadow: 0 4px 17px var(--projects-shadow);
  -webkit-box-shadow: 0 4px 17px var(--projects-shadow);
  box-shadow: 0 4px 17px var(--projects-shadow);
}

.card-bar {
  position: absolute;
  top: 52px;
  left: 2%;
  height: 2px;
  width: 76.5%;
  transition: all 700ms;
  -webkit-transition: all 700ms;
  -moz-transition: all 700ms;
}

.empty-card-bar {
  background-color: var(--card-bar-empty);
  width: 60%;
  height: 100%;
  transition: all 700ms;
  -webkit-transition: all 700ms;
  -moz-transition: all 700ms;
}

.cards:hover .empty-card-bar,
.cards:focus .empty-card-bar {
  width: 125%;
  background-color: var(--card-bar-full);
  transition: 0.6s ease-out;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
}

.tooltipProjects {
  position: relative;
  display: inline-block;
}

.tooltipProjects .tooltiptext {
  overflow: visible;
  visibility: hidden;
  width: auto;
  background-color: var(--text-color);
  font-size: 0.8rem;
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 999;
}

.tooltipProjects:hover .tooltiptext {
  visibility: visible;
  z-index: 999;
}

.tooltipProjects .tooltiptext {
  width: auto;
  top: 120%;
  left: 50%;
  z-index: 999;
  margin-left: -50px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Toolset Page */
#toolset {
  position: relative;
  height: 900px;
}

.toolset-text {
  position: absolute;
  width: 60%;
  color: var(--text-color);
  align-items: center;
  text-align: center;
  padding-bottom: 1vh;
  top: 50px;
  font-size: 1rem;
  font-weight: 400;
}

.toolset-text #tech-underline {
  border-bottom: solid 3px grey;
  width: 30%;
  margin-top: 31px;
}

.skills {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 170px;
  left: 0;
}

.skills .skills-container {
  width: 95%;
  max-width: 1200px;
  position: absolute;
  top: 15%;
  height: 600px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  margin-bottom: 2vh;
}

.skills .skills-container .side {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

.skills .skills-container .side div {
  width: 20%;
  height: 30%;
  float: left;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.skills .skills-container .side div p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.skills .skills-container .front div {
  background: #2d2d2e;
}

.toolset-skill {
  text-align: center;
}

.skill-format {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.skills .title {
  position: absolute;
  color: #f1f1f1;
  align-self: center;
  text-align: center;
  font-size: 0.9rem;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.skills i {
  top: 110px;
  position: absolute;
  display: block;
  color: #f1f1f1;
  font-size: 6rem;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.skills-container p {
  color: #f1f1f1;
  font-size: 0.9rem;
  font-weight: 700;
}

#ionic {
  display: block;
  position: absolute;
  height: 90px;
  width: auto;
  top: 110px;
  font-size: 6rem;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#unity-correction {
  left: 60%;
}

.skills .skills-container .front .flip-1 {
  -webkit-animation: front-1 6s linear infinite alternate;
  animation: front-1 6s linear infinite alternate;
  -moz-animation: front-1 6s linear infinite alternate;
}

.skills .skills-container .front .flip-2 {
  -webkit-animation: front-2 5s linear 5s infinite alternate;
  animation: front-2 5s linear 5s infinite alternate;
  -moz-animation: front-2 5s linear 5s infinite alternate;
}

.skills .skills-container .front .flip-3 {
  -webkit-animation: front-3 7s linear 2s infinite alternate;
  animation: front-3 7s linear 2s infinite alternate;
  -moz-animation: front-3 7s linear 2s infinite alternate;
}

.skills .skills-container .front .flip-4 {
  -webkit-animation: front-4 8s linear 10s infinite alternate;
  animation: front-4 8s linear 10s infinite alternate;
  -moz-animation: front-4 8s linear 10s infinite alternate;
}

.skills .skills-container .back div {
  background: grey;
}

.skills .skills-container .back .flip-1 {
  -webkit-animation: back-1 6s linear infinite alternate;
  animation: back-1 6s linear infinite alternate;
  -moz-animation: back-1 6s linear infinite alternate;
}

.skills .skills-container .back .flip-2 {
  -webkit-animation: back-2 5s linear 5s infinite alternate;
  animation: back-2 5s linear 5s infinite alternate;
  -moz-animation: back-2 5s linear 5s infinite alternate;
}

.skills .skills-container .back .flip-3 {
  -webkit-animation: back-3 7s linear 2s infinite alternate;
  animation: back-3 7s linear 2s infinite alternate;
  -moz-animation: back-3 7s linear 2s infinite alternate;
}

.skills .skills-container .back .flip-4 {
  -webkit-animation: back-4 8s linear 10s infinite alternate;
  animation: back-4 8s linear 10s infinite alternate;
  -moz-animation: back-4 8s linear 10s infinite alternate;
}

@-webkit-keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(60deg) translateY(-50%);
    transform: rotate(60deg) translateY(-50%);
    -moz-transform: rotate(60deg) translateY(-50%);
    -ms-transform: rotate(60deg) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(420deg) translateY(-50%);
    transform: rotate(420deg) translateY(-50%);
    -moz-transform: rotate(420deg) translateY(-50%);
    -ms-transform: rotate(420deg) translateY(-50%);
  }
}

@keyframes rotate-1 {
  0% {
    -webkit-transform: rotate(60deg) translateY(-50%);
    transform: rotate(60deg) translateY(-50%);
    -moz-transform: rotate(60deg) translateY(-50%);
    -ms-transform: rotate(60deg) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(420deg) translateY(-50%);
    transform: rotate(420deg) translateY(-50%);
    -moz-transform: rotate(420deg) translateY(-50%);
    -ms-transform: rotate(420deg) translateY(-50%);
  }
}

@-webkit-keyframes rotate-2 {
  0% {
    -webkit-transform: rotate(120deg) translateY(-50%);
    transform: rotate(120deg) translateY(-50%);
    -moz-transform: rotate(120deg) translateY(-50%);
    -ms-transform: rotate(120deg) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(480deg) translateY(-50%);
    transform: rotate(480deg) translateY(-50%);
    -moz-transform: rotate(480deg) translateY(-50%);
    -ms-transform: rotate(480deg) translateY(-50%);
  }
}

@keyframes rotate-2 {
  0% {
    -webkit-transform: rotate(120deg) translateY(-50%);
    transform: rotate(120deg) translateY(-50%);
    -moz-transform: rotate(120deg) translateY(-50%);
    -ms-transform: rotate(120deg) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(480deg) translateY(-50%);
    transform: rotate(480deg) translateY(-50%);
    -moz-transform: rotate(480deg) translateY(-50%);
    -ms-transform: rotate(480deg) translateY(-50%);
  }
}

@-webkit-keyframes rotate-3 {
  0% {
    -webkit-transform: rotate(180deg) translateY(-50%);
    transform: rotate(180deg) translateY(-50%);
    -moz-transform: rotate(180deg) translateY(-50%);
    -ms-transform: rotate(180deg) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(540deg) translateY(-50%);
    transform: rotate(540deg) translateY(-50%);
    -moz-transform: rotate(540deg) translateY(-50%);
    -ms-transform: rotate(540deg) translateY(-50%);
  }
}

@keyframes rotate-3 {
  0% {
    -webkit-transform: rotate(180deg) translateY(-50%);
    transform: rotate(180deg) translateY(-50%);
    -moz-transform: rotate(180deg) translateY(-50%);
    -ms-transform: rotate(180deg) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(540deg) translateY(-50%);
    transform: rotate(540deg) translateY(-50%);
    -moz-transform: rotate(540deg) translateY(-50%);
    -ms-transform: rotate(540deg) translateY(-50%);
  }
}

@-webkit-keyframes rotate-4 {
  0% {
    -webkit-transform: rotate(240deg) translateY(-50%);
    transform: rotate(240deg) translateY(-50%);
    -moz-transform: rotate(240deg) translateY(-50%);
    -ms-transform: rotate(240deg) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(600deg) translateY(-50%);
    transform: rotate(600deg) translateY(-50%);
    -moz-transform: rotate(600deg) translateY(-50%);
    -ms-transform: rotate(600deg) translateY(-50%);
  }
}

@keyframes rotate-4 {
  0% {
    -webkit-transform: rotate(240deg) translateY(-50%);
    transform: rotate(240deg) translateY(-50%);
    -moz-transform: rotate(240deg) translateY(-50%);
    -ms-transform: rotate(240deg) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(600deg) translateY(-50%);
    transform: rotate(600deg) translateY(-50%);
    -moz-transform: rotate(600deg) translateY(-50%);
    -ms-transform: rotate(600deg) translateY(-50%);
  }
}

@-webkit-keyframes rotate-5 {
  0% {
    -webkit-transform: rotate(300deg) translateY(-50%);
    transform: rotate(300deg) translateY(-50%);
    -moz-transform: rotate(300deg) translateY(-50%);
    -ms-transform: rotate(300deg) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(660deg) translateY(-50%);
    transform: rotate(660deg) translateY(-50%);
    -moz-transform: rotate(660deg) translateY(-50%);
    -ms-transform: rotate(660deg) translateY(-50%);
  }
}

@keyframes rotate-5 {
  0% {
    -webkit-transform: rotate(300deg) translateY(-50%);
    transform: rotate(300deg) translateY(-50%);
    -moz-transform: rotate(300deg) translateY(-50%);
    -ms-transform: rotate(300deg) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(660deg) translateY(-50%);
    transform: rotate(660deg) translateY(-50%);
    -moz-transform: rotate(660deg) translateY(-50%);
    -ms-transform: rotate(660deg) translateY(-50%);
  }
}

@-webkit-keyframes rotate-6 {
  0% {
    -webkit-transform: rotate(360deg) translateY(-50%);
    transform: rotate(360deg) translateY(-50%);
    -moz-transform: rotate(360deg) translateY(-50%);
    -ms-transform: rotate(360deg) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(720deg) translateY(-50%);
    transform: rotate(720deg) translateY(-50%);
    -moz-transform: rotate(720deg) translateY(-50%);
    -ms-transform: rotate(720deg) translateY(-50%);
  }
}

@keyframes rotate-6 {
  0% {
    -webkit-transform: rotate(360deg) translateY(-50%);
    transform: rotate(360deg) translateY(-50%);
    -moz-transform: rotate(360deg) translateY(-50%);
    -ms-transform: rotate(360deg) translateY(-50%);
  }
  100% {
    -webkit-transform: rotate(720deg) translateY(-50%);
    transform: rotate(720deg) translateY(-50%);
    -moz-transform: rotate(720deg) translateY(-50%);
    -ms-transform: rotate(720deg) translateY(-50%);
  }
}

@-webkit-keyframes front-1 {
  0%,
  45% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    -moz-transform: translateZ(0) rotateY(0);
    -ms-transform: translateZ(0) rotateY(0);
  }
  100%,
  55% {
    -webkit-transform: translateZ(-1px) rotateY(-180deg);
    transform: translateZ(-1px) rotateY(-180deg);
    -moz-transform: translateZ(-1px) rotateY(-180deg);
    -ms-transform: translateZ(-1px) rotateY(-180deg);
  }
}

@keyframes front-1 {
  0%,
  45% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    -moz-transform: translateZ(0) rotateY(0);
    -ms-transform: translateZ(0) rotateY(0);
  }
  100%,
  55% {
    -webkit-transform: translateZ(-1px) rotateY(-180deg);
    transform: translateZ(-1px) rotateY(-180deg);
    -moz-transform: translateZ(-1px) rotateY(-180deg);
    -ms-transform: translateZ(-1px) rotateY(-180deg);
  }
}

@-webkit-keyframes back-1 {
  0%,
  45% {
    -webkit-transform: translateZ(-1px) rotateY(180deg);
    transform: translateZ(-1px) rotateY(180deg);
    -moz-transform: translateZ(-1px) rotateY(180deg);
    -ms-transform: translateZ(-1px) rotateY(180deg);
  }
  100%,
  55% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    -moz-transform: translateZ(0) rotateY(0);
    -ms-transform: translateZ(0) rotateY(0);
  }
}

@keyframes back-1 {
  0%,
  45% {
    -webkit-transform: translateZ(-1px) rotateY(180deg);
    transform: translateZ(-1px) rotateY(180deg);
    -moz-transform: translateZ(-1px) rotateY(180deg);
    -ms-transform: translateZ(-1px) rotateY(180deg);
  }
  100%,
  55% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    -moz-transform: translateZ(0) rotateY(0);
    -ms-transform: translateZ(0) rotateY(0);
  }
}

@-webkit-keyframes front-2 {
  0%,
  45% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
    -moz-transform: translateZ(0) rotateX(0);
    -ms-transform: translateZ(0) rotateX(0);
  }
  100%,
  55% {
    -webkit-transform: translateZ(-1px) rotateX(-180deg);
    transform: translateZ(-1px) rotateX(-180deg);
    -moz-transform: translateZ(-1px) rotateX(-180deg);
    -ms-transform: translateZ(-1px) rotateX(-180deg);
  }
}

@keyframes front-2 {
  0%,
  45% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
    -moz-transform: translateZ(0) rotateX(0);
    -ms-transform: translateZ(0) rotateX(0);
  }
  100%,
  55% {
    -webkit-transform: translateZ(-1px) rotateX(-180deg);
    transform: translateZ(-1px) rotateX(-180deg);
    -moz-transform: translateZ(-1px) rotateX(-180deg);
    -ms-transform: translateZ(-1px) rotateX(-180deg);
  }
}

@-webkit-keyframes back-2 {
  0%,
  45% {
    -webkit-transform: translateZ(-1px) rotateX(180deg);
    transform: translateZ(-1px) rotateX(180deg);
    -moz-transform: translateZ(-1px) rotateX(180deg);
    -ms-transform: translateZ(-1px) rotateX(180deg);
  }
  100%,
  55% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
    -moz-transform: translateZ(0) rotateX(0);
    -ms-transform: translateZ(0) rotateX(0);
  }
}

@keyframes back-2 {
  0%,
  45% {
    -webkit-transform: translateZ(-1px) rotateX(180deg);
    transform: translateZ(-1px) rotateX(180deg);
    -moz-transform: translateZ(-1px) rotateX(180deg);
    -ms-transform: translateZ(-1px) rotateX(180deg);
  }
  100%,
  55% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
    -moz-transform: translateZ(0) rotateX(0);
    -ms-transform: translateZ(0) rotateX(0);
  }
}

@-webkit-keyframes front-3 {
  0%,
  45% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
    -moz-transform: translateZ(0) rotateX(0);
    -ms-transform: translateZ(0) rotateX(0);
  }
  100%,
  55% {
    -webkit-transform: translateZ(-1px) rotateX(180deg);
    transform: translateZ(-1px) rotateX(180deg);
    -moz-transform: translateZ(-1px) rotateX(180deg);
    -ms-transform: translateZ(-1px) rotateX(180deg);
  }
}

@keyframes front-3 {
  0%,
  45% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
    -moz-transform: translateZ(0) rotateX(0);
    -ms-transform: translateZ(0) rotateX(0);
  }
  100%,
  55% {
    -webkit-transform: translateZ(-1px) rotateX(180deg);
    transform: translateZ(-1px) rotateX(180deg);
    -moz-transform: translateZ(-1px) rotateX(180deg);
    -ms-transform: translateZ(-1px) rotateX(180deg);
  }
}

@-webkit-keyframes back-3 {
  0%,
  45% {
    -webkit-transform: translateZ(-1px) rotateX(-180deg);
    transform: translateZ(-1px) rotateX(-180deg);
    -moz-transform: translateZ(-1px) rotateX(-180deg);
    -ms-transform: translateZ(-1px) rotateX(-180deg);
  }
  100%,
  55% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
    -moz-transform: translateZ(0) rotateX(0);
    -ms-transform: translateZ(0) rotateX(0);
  }
}

@keyframes back-3 {
  0%,
  45% {
    -webkit-transform: translateZ(-1px) rotateX(-180deg);
    transform: translateZ(-1px) rotateX(-180deg);
    -moz-transform: translateZ(-1px) rotateX(-180deg);
    -ms-transform: translateZ(-1px) rotateX(-180deg);
  }
  100%,
  55% {
    -webkit-transform: translateZ(0) rotateX(0);
    transform: translateZ(0) rotateX(0);
    -moz-transform: translateZ(0) rotateX(0);
    -ms-transform: translateZ(0) rotateX(0);
  }
}

@-webkit-keyframes front-4 {
  0%,
  45% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    -moz-transform: translateZ(0) rotateY(0);
    -ms-transform: translateZ(0) rotateY(0);
  }
  100%,
  55% {
    -webkit-transform: translateZ(-1px) rotateY(180deg);
    transform: translateZ(-1px) rotateY(180deg);
    -moz-transform: translateZ(-1px) rotateY(180deg);
    -ms-transform: translateZ(-1px) rotateY(180deg);
  }
}

@keyframes front-4 {
  0%,
  45% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    -moz-transform: translateZ(0) rotateY(0);
    -ms-transform: translateZ(0) rotateY(0);
  }
  100%,
  55% {
    -webkit-transform: translateZ(-1px) rotateY(180deg);
    transform: translateZ(-1px) rotateY(180deg);
    -moz-transform: translateZ(-1px) rotateY(180deg);
    -ms-transform: translateZ(-1px) rotateY(180deg);
  }
}

@-webkit-keyframes back-4 {
  0%,
  45% {
    -webkit-transform: translateZ(-1px) rotateY(-180deg);
    transform: translateZ(-1px) rotateY(-180deg);
    -moz-transform: translateZ(-1px) rotateY(-180deg);
    -ms-transform: translateZ(-1px) rotateY(-180deg);
  }
  100%,
  55% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    -moz-transform: translateZ(0) rotateY(0);
    -ms-transform: translateZ(0) rotateY(0);
  }
}

@keyframes back-4 {
  0%,
  45% {
    -webkit-transform: translateZ(-1px) rotateY(-180deg);
    transform: translateZ(-1px) rotateY(-180deg);
    -moz-transform: translateZ(-1px) rotateY(-180deg);
    -ms-transform: translateZ(-1px) rotateY(-180deg);
  }
  100%,
  55% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
    -moz-transform: translateZ(0) rotateY(0);
    -ms-transform: translateZ(0) rotateY(0);
  }
}

.skills .skills-container .side div p {
  font-size: 0.75em;
}

/* Contacts Page */
#contact {
  background-image: linear-gradient(
      var(--background-gradient-contact),
      var(--background-gradient-contact)
    ),
    url(imgs/contact.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  z-index: -1;
}

.contact-card {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  height: 350px;
  margin-top: 5%;
  perspective: 1000px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

.contact-card:hover .content,
.contact-card:focus .content {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
}

.contact_front,
.contact_back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #1b1b1b;
  color: white;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -moz-box-shadow: 1px 1px 2px 2px #000;
  -webkit-box-shadow: 1px 1px 2px 2px #000;
  box-shadow: 1px 1px 2px 2px #000;
}

#contact-front {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  width: 45%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  padding: 30px;
  border: 2px solid white;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.contact_back {
  background: #1b1b1b;
  color: white;
  font-size: 0.7rem;
  text-transform: uppercase;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.contact_back h3 {
  font-weight: 200;
  letter-spacing: 0.25rem;
  text-align: left;
  color: grey;
  padding-top: 3%;
  padding-left: 5%;
  margin-bottom: 0;
}

.job {
  letter-spacing: 0.25rem;
  text-align: left;
  padding-left: 5%;
  padding-top: 0;
}

.info {
  letter-spacing: 0.25rem;
  text-align: left;
  padding-left: 5%;
}

.info span {
  color: grey;
}

.weblinks {
  font-size: 1.75rem;
  text-align: right;
  margin-right: 5%;
}

.weblinks a {
  padding-left: 2%;
}

.weblinks i {
  color: #f1f1f1;
}

footer {
  border-top: 2px solid var(--footer-border);
  overscroll-behavior-y: none;
  width: 100%;
  background: var(--background-color);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer div {
  padding-left: 25px;
  padding-right: 25px;
  color: var(--text-color);
  font-size: 0.8rem;
}

.footer-icon i {
  color: var(--text-color);
  float: right;
  font-size: 1.1rem;
}

/* Default light mode colors */
#defaultColors {
  --background-color: #f1f1f1;
  --text-color: black;
  --white: white;
  --nav-button: rgba(0, 0, 0, 0.6);
  --nav-color: rgba(255, 255, 255, 0.9);
  --font-weight: bold;
  --background-gradient: rgba(255, 255, 255, 0.4);
  --card-background: #f1f1f1;
  --projects-shadow: #424242;
  --card-bar-empty: lightgray;
  --card-bar-full: grey;
  --card-icons: lightgray;
  --background-gradient-contact: (255, 255, 255, 0.2);
  --footer-border: #444;
}

/* Pre-loader */
.loader,
.loader:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

#loadingDiv {
  position: absolute;
  display: flex;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
}

/* Extra small devices (phones, 550px and down) */
@media only screen and (min-width: 0px) {
  h1 {
    font-size: 1.7rem;
  }

  .nav-expand-button {
    width: 50px;
    height: 50px;
    margin-left: 84%;
    font-size: 1.8rem;
  }

  .nav-close-button {
    width: 52px;
    height: 52px;
    margin-left: 84%;
    font-size: 1.8rem;
  }

  .nav-list a {
    font-size: 1rem;
  }

  #nav-icon {
    width: 115px;
    height: 115px;
  }

  .nav-contacts a {
    font-size: 1rem;
  }

  .typewriter h2 {
    font-size: 1.1rem;
  }

  .container-common-links {
    width: 45%;
    font-size: 1.4rem;
  }

  .fa-chevron-down {
    font-size: 1rem;
    margin-left: 0px;
  }

  #columnOne {
    width: 85%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 25px;
    text-align: center;
  }

  #columnTwo {
    display: flex;
    justify-content: center;
    align-self: start;
    width: 60%;
    padding-right: 0%;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  #columnOne h2 {
    font-size: 1rem;
    text-align: center;
  }

  .page-container-row h3 {
    font-size: 0.8rem;
    text-align: center;
  }

  .page-container-row p {
    margin-left: 2vw;
    font-size: 0.7rem;
    text-align: center;
  }

  .project-text,
  .toolset-text {
    font-size: 0.7rem;
    width: 80%;
  }

  .tooltipProjects .tooltiptext {
    font-size: 0.7rem;
  }

  .project-text h2,
  .toolset-text h2 {
    font-size: 1rem;
  }

  .project-text h3,
  .toolset-text h3 {
    font-size: 0.8rem;
  }

  .skills {
    top: 220px;
  }

  .cards img {
    width: 70%;
  }

  .card-bar {
    top: 40px;
  }

  .cards h3 {
    font-size: 0.7rem;
    padding-left: 5px;
  }

  .cards p {
    font-size: 0.7rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .project-text h2,
  .toolset-text h2 {
    font-size: 1rem;
  }

  .project-text h3,
  .toolset-text h3 {
    font-size: 0.8rem;
  }
  .skills .skills-container {
    width: 95%;
    height: 380px;
  }

  .skills .skills-container {
    width: 85%;
  }

  .skills .title {
    margin-top: 10px;
    font-size: 0.59rem;
  }

  .skills i {
    top: 75px;
    font-size: 2rem;
  }

  .skills .skills-container .side div p {
    font-size: 0.59rem;
  }

  #ionic {
    height: 30px;
    top: 75px;
  }

  .contact-card {
    width: 70%;
    height: 206px;
  }

  #contact-front {
    width: 75%;
    font-size: 0.9rem;
    padding: 5px;
  }

  .contact_back {
    font-size: 0.45rem;
  }

  #contact {
    background-image: linear-gradient(
        var(--background-gradient-contact),
        var(--background-gradient-contact)
      ),
      url(imgs/contact-mobile.jpg);
  }

  .info {
    margin-top: 10%;
  }

  .weblinks {
    font-size: 1rem;
  }

  .cards {
    width: 98%;
    margin-bottom: 5%;
  }
}

/* Small devices (portrait tablets and large phones, 550px and up) */
@media only screen and (min-width: 550px) {
  h1 {
    font-size: 2.5rem;
  }

  .nav-expand-button {
    width: 55px;
    height: 55px;
    margin-left: 87%;
    font-size: 1.9rem;
  }

  .nav-close-button {
    width: 57px;
    height: 57px;
    margin-left: 87%;
    font-size: 1.9rem;
  }

  .nav-list a {
    font-size: 1.1rem;
  }

  #nav-icon {
    width: 160px;
    height: 160px;
  }

  .nav-contacts a {
    font-size: 1.1rem;
  }

  .typewriter h2 {
    font-size: 1.4rem;
  }

  .container-common-links {
    width: 30%;
    font-size: 1.8rem;
  }

  .fa-chevron-down {
    font-size: 1.5rem;
    margin-left: -1px;
  }

  #columnOne {
    width: 80%;
    padding-left: 0%;
    padding-right: 0%;
  }

  #columnTwo {
    display: flex;
    justify-content: center;
    align-self: start;
    width: 50%;
    padding-right: 0%;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  #columnOne h2 {
    font-size: 1.1rem;
    text-align: center;
  }

  .page-container-row h3 {
    font-size: 0.9rem;
    text-align: center;
  }

  .page-container-row p {
    margin-left: 2vw;
    font-size: 0.8rem;
    text-align: center;
  }

  .project-text,
  .toolset-text {
    font-size: 0.8rem;
  }

  .tooltipProjects .tooltiptext {
    font-size: 0.8rem;
  }

  .project-text h2,
  .toolset-text h2 {
    font-size: 1.1rem;
  }

  .project-text h3,
  .toolset-text h3 {
    font-size: 1rem;
  }
  .skills .skills-container {
    width: 95%;
    height: 420px;
  }

  .skills {
    top: 190px;
  }

  .skills .skills-container {
    width: 85%;
  }

  .skills .title {
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .skills i {
    top: 75px;
    font-size: 3rem;
  }

  .skills .skills-container .side div p {
    font-size: 0.9rem;
  }

  #ionic {
    height: 50px;
    top: 75px;
  }

  .contact-card {
    width: 51%;
    height: 260px;
  }

  #contact-front {
    width: 70%;
    font-size: 1rem;
    padding: 10px;
  }

  .contact_back {
    font-size: 0.6rem;
  }

  .info {
    margin-top: 15%;
  }

  .weblinks {
    font-size: 1.2rem;
  }

  .cards {
    width: 47%;
    margin-bottom: 3%;
    padding: 1%;
  }
}

/* Medium devices (landscape tablets, 768px and up - ipad mini 5 both ways) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .nav-expand-button {
    width: 60px;
    height: 60px;
    margin-left: 89%;
    font-size: 2rem;
  }

  .nav-close-button {
    width: 62px;
    height: 62px;
    margin-left: 89%;
    font-size: 2rem;
  }

  .nav-list a {
    font-size: 1.2rem;
  }

  #nav-icon {
    width: 170px;
    height: 170px;
  }

  .nav-contacts a {
    font-size: 1.2rem;
  }

  .typewriter h2 {
    font-size: 1.6rem;
  }

  .container-common-links {
    width: 25%;
    font-size: 2rem;
  }

  .fa-chevron-down {
    font-size: 2rem;
    margin-left: -2px;
  }

  .page-container-row {
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #columnOne {
    text-align: center;
  }

  #columnOne h2 {
    text-align: center;
  }

  #columnOne {
    width: 80%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
  }

  #columnTwo {
    display: flex;
    justify-content: center;
    align-self: start;
    width: 45%;
    padding-right: 0%;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  #columnOne h2 {
    font-size: 1.1rem;
    text-align: center;
  }

  .page-container-row h3 {
    font-size: 1rem;
  }

  .page-container-row p {
    margin-left: 2vw;
    font-size: 0.9rem;
  }

  .project-text h3,
  .toolset-text h3 {
    font-size: 1rem;
  }
  .skills .skills-container {
    width: 95%;
    height: 450px;
  }

  .skills .skills-container {
    width: 85%;
  }

  .skills {
    top: 170px;
  }

  .skills .title {
    margin-top: 10px;
    font-size: 1rem;
  }

  .skills i {
    top: 85px;
    font-size: 4rem;
  }

  .skills .skills-container .side div p {
    font-size: 1rem;
  }

  #ionic {
    height: 70px;
    top: 85px;
  }

  .contact-card {
    width: 44%;
    height: 280px;
    padding-left: 5%;
  }

  #contact-front {
    width: 65%;
    font-size: 0.9rem;
    padding: 18px;
  }

  .contact_back {
    font-size: 0.8rem;
  }

  .info {
    margin-top: 12%;
  }

  .weblinks {
    font-size: 1.4rem;
  }

  .cards {
    width: 47%;
    margin-bottom: 3%;
    padding: 1%;
  }
}

/* Large devices (laptops/desktops, 1050px and up) */
@media only screen and (min-width: 1050px) {
  h1 {
    font-size: 3.25rem;
  }

  .nav-expand-button {
    width: 65px;
    height: 65px;
    margin-left: 91%;
    font-size: 2.1rem;
  }

  .nav-close-button {
    width: 67px;
    height: 67px;
    margin-left: 91%;
    font-size: 2.1rem;
  }

  .nav-list a {
    font-size: 1.4rem;
  }

  #nav-icon {
    width: 180px;
    height: 180px;
  }

  .nav-contacts a {
    font-size: 1.4rem;
  }

  .typewriter h2 {
    font-size: 1.8rem;
  }

  .container-common-links {
    width: 25%;
    font-size: 2.25rem;
  }

  .fa-chevron-down {
    font-size: 2.5rem;
    margin-left: -3px;
  }

  #columnOne {
    width: 45%;
    padding-left: 5%;
    padding-top: 0px;
    text-align: left;
  }

  #columnOne p {
    text-align: left;
  }

  #columnTwo {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30%;
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 0;
  }

  #columnOne h2 {
    font-size: 1.4rem;
  }

  .page-container-row h3 {
    font-size: 1rem;
    text-align: left;
  }

  .page-container-row p {
    margin-left: 2vw;
    font-size: 0.9rem;
  }

  .project-text h3,
  .toolset-text h3 {
    font-size: 1rem;
  }
  .skills .skills-container {
    width: 95%;
    height: 550px;
  }

  .skills {
    top: 140px;
  }

  .skills .skills-container {
    height: 60%;
  }

  .skills .skills-container {
    height: 500px;
  }

  .skills .skills-container {
    width: 85%;
  }

  .skills .title {
    margin-top: 10px;
    font-size: 1rem;
  }

  .skills i {
    top: 85px;
    font-size: 4rem;
  }

  .skills .skills-container .side div p {
    font-size: 1rem;
  }

  #ionic {
    height: 70px;
    top: 87px;
  }

  .contact-card {
    width: 45%;
    height: 300px;
    font-size: 2rem;
    padding: 30px;
  }
  .contact_back {
    font-size: 1rem;
  }

  #contact-front {
    font-size: 1rem;
  }

  #contact {
    background-image: linear-gradient(
        var(--background-gradient-contact),
        var(--background-gradient-contact)
      ),
      url(imgs/contact.jpg);
  }

  .info {
    margin-top: 23%;
  }

  .weblinks {
    font-size: 1.6rem;
  }
  .cards {
    width: 30%;
    margin-bottom: 2%;
    padding: 1%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 3.5rem;
  }

  .nav-expand-button {
    width: 70px;
    height: 70px;
    margin-left: 92%;
    font-size: 2.2rem;
  }

  .nav-close-button {
    width: 72px;
    height: 72px;
    margin-left: 92%;
    font-size: 2.2rem;
  }

  .nav-list a {
    font-size: 1.5rem;
  }

  #nav-icon {
    width: 190px;
    height: 190px;
  }

  .nav-contacts a {
    font-size: 1.5rem;
  }

  .typewriter h2 {
    font-size: 2rem;
  }

  .container-common-links {
    width: 25%;
    font-size: 2.5rem;
  }

  .fa-chevron-down {
    font-size: 3rem;
  }

  #columnOne {
    width: 54%;
    padding-left: 5%;
  }

  #columnTwo {
    display: flex;
    justify-content: center;
    width: 28%;
    padding-right: 5%;
  }
  #columnOne h2 {
    font-size: 1.5rem;
  }

  .page-container-row h3 {
    font-size: 1.1rem;
    text-align: left;
  }

  .page-container-row p {
    margin-left: 2vw;
    font-size: 0.9rem;
  }
  .project-text,
  .toolset-text {
    font-size: 0.9rem;
    width: 60%;
  }

  .project-text h2,
  .toolset-text h2 {
    font-size: 1.5rem;
  }

  .project-text h3,
  .toolset-text h3 {
    font-size: 1.1rem;
  }

  .cards img {
    width: 90%;
  }

  .card-bar {
    top: 55px;
  }

  .cards h3 {
    font-size: 0.9rem;
  }

  .cards p {
    font-size: 0.9rem;
  }

  .project-text h3,
  .toolset-text h3 {
    font-size: 1.1rem;
  }
  .skills .skills-container {
    width: 95%;
    height: 550px;
  }

  .skills .skills-container {
    height: 60%;
  }

  .skills .skills-container {
    height: 500px;
  }

  .skills {
    top: 160px;
  }

  .skills .skills-container {
    width: 85%;
  }

  .skills .title {
    margin-top: 10px;
    font-size: 1.1rem;
  }

  .skills i {
    top: 85px;
    font-size: 4rem;
  }

  .skills .skills-container .side div p {
    font-size: 1.1rem;
  }

  #ionic {
    height: 70px;
    top: 95px;
  }

  .contact-card {
    width: 41%;
    height: 315px;
  }

  .info {
    margin-top: 24%;
  }

  .back {
    font-size: 0.9rem;
  }

  .weblinks {
    font-size: 1.8rem;
  }

  .cards {
    width: 30%;
    margin-bottom: 2%;
    padding: 1%;
  }
}

@media only screen and (min-width: 1450px) {
  h1 {
    font-size: 3.5rem;
  }

  .nav-expand-button {
    width: 70px;
    height: 70px;
    margin-left: 94%;
    font-size: 2.2rem;
  }

  .nav-close-button {
    width: 72px;
    height: 72px;
    margin-left: 94%;
    font-size: 2.2rem;
  }

  .nav-list a {
    font-size: 1.6rem;
  }

  #nav-icon {
    width: 200px;
    height: 200px;
  }

  .nav-contacts a {
    font-size: 1.6rem;
  }

  .typewriter {
    padding-top: 25px;
  }

  .typewriter h2 {
    font-size: 2.2rem;
  }

  .container-common-links {
    width: 25%;
    font-size: 2.75rem;
  }

  #columnOne {
    width: 50%;
    padding-left: 5%;
  }

  #columnTwo {
    width: 25%;
    padding-right: 5%;
  }
  #columnOne h2 {
    font-size: 1.6rem;
  }

  .page-container-row h3 {
    font-size: 1.1rem;
    text-align: left;
  }

  .page-container-row p {
    margin-left: 2vw;
    font-size: 1rem;
  }

  .project-text,
  .toolset-text {
    font-size: 1rem;
  }

  .tooltipProjects .tooltiptext {
    font-size: 1rem;
  }

  .project-text h2,
  .toolset-text h2 {
    font-size: 1.6rem;
  }

  .project-text h3,
  .toolset-text h3 {
    font-size: 1.1rem;
  }

  .skills {
    top: 150px;
  }

  .skills .title {
    font-size: 1.1rem;
  }

  .skills i {
    font-size: 5rem;
    top: 95px;
  }

  .skills .skills-container .side div p {
    font-size: 1.1rem;
  }

  #ionic {
    height: 80px;
  }

  .contact-card {
    width: 34%;
    height: 350px;
  }

  .back {
    font-size: 1rem;
  }

  .info {
    margin-top: 24%;
  }

  .weblinks {
    font-size: 1.8rem;
  }

  .cards {
    width: 30%;
    margin-bottom: 2%;
    padding: 1%;
  }
}

@media only screen and (min-width: 2150px) {
  .info {
    margin-top: 18%;
  }

  .typewriter {
    padding-top: 55px;
  }

  #columnTwo {
    width: 20%;
  }

  .skills .title {
    font-size: 1rem;
  }

  .skills i {
    font-size: 5rem;
    top: 95px;
  }

  .skills .skills-container .side div p {
    font-size: 1rem;
  }

  #ionic {
    height: 80px;
    top: 95px;
  }
}
