html,
body {
  margin: 0 0;
  height: 100%;
  width: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.full-height {
  height: 100%;
  background: yellow;
}

body {
  height: 100%;
  background: #f2f5f5;
  color: #000000;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 10%;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* NAV */
.nav-expand-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 2.5%;
  margin-left: 94%;
  margin-right: 5%;
  cursor: pointer;
  font-size: 2rem;
}

.nav-close-button {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-top: 2.5%;
  margin-left: 94%;
  margin-right: 5%;
  cursor: pointer;
  font-size: 2rem;
}

.nav {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  background-color: rgba(0, 0, 0, 0.92); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  right: 0px; /* align navbar to the right */
}

.nav-list {
  border-top: 3px solid grey;
  padding-top: 30px;
  margin-top: 7%;
  border-bottom: 3px solid grey;
  padding-bottom: 15px;
  list-style-type: none;
  text-align: center;
}

/* The sidepanel links */
.nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

#nav-icon {
  color: #ffffff;
  width: 200px;
  height: 200px;
  text-align: center;
  display: inline-block;
  background-image: url(imgs/MyFamily.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.nav-list a {
  display: block;
  font-size: 1.6rem;
  padding: 1.25rem;
}

.nav-list a:hover {
  color: grey;
}

.nav-list a:hover:before {
  content: "\2605";
  font-weight: bolder;
  margin-left: 32%;
  display: block;
  width: 0;
  height: 2px;
  color: white;
  background: grey;
  transition: width 0.3s;
  -webkit-transition: width 0.5s;
}

.nav-contacts {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  font-size: 2.2rem;
  justify-content: center;
}

/* Introduction Page */

.page-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#introduction {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(imgs/blackWhiteLaptop);
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.container {
  justify-content: center;
  white-space: nowrap;
}

.container-common-links {
  display: flex;
  flex-direction: row;
  color: white;
  padding-top: 5.5%;
  width: 30%;
  font-size: 2.25rem;
  justify-content: space-around;
}

.typewriter h2 {
  font-size: 2rem;
  color: #ffffff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #ffffff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.25em; /* Adjust as needed */
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

.expand:hover,
.expand:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  color: grey;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: hand;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  overflow: visible;
  visibility: hidden;
  width: 200px;
  background-color: #000000;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 999;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  width: 120px;
  top: 120%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000000 transparent;
}

/* About Page */

.page-container-row {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#columnOne {
  width: 50%;
  padding-left: 5%;
}

#columnTwo {
  width: 25%;
  padding-right: 5%;
}

#columnTwo img {
  height: 80%;
  width: 0%;
  border: 3px solid grey;
  border-radius: 50%;
}

#columnOne h2 {
  border-bottom: solid 3px grey;
  width: 30%;
}

@keyframes expandWidth {
  from {
    width: 20%;
  }
  to {
    width: 100%;
  }
}

.page-container-row h3 {
  text-align: left;
}

.page-container-row p {
  margin-left: 2vw;
}
/* Projects Page */

#projects {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url(imgs/brick.jpeg);
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.project-text {
  width: 60%;
  color: black;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 3vh;
  margin-top: 45px;
  font-size: 1rem;
}

.project-text h2 {
  border-bottom: solid 3px grey;
  text-align: center;
  justify-content: center;
  width: 30%;
  font-size: 1.6rem;
}

#project-underline {
  border-width: 30%;
}

.project-text h3 {
  font-size: 1rem;
  margin-bottom: 2px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
}

.cards {
  padding: 0.5%;
  background-color: #f1f1f1;
  color: black;
  border-radius: 5px;
  margin-bottom: 1%;
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  -moz-box-shadow: 1px 1px 5px 1px #424242;
  -webkit-box-shadow: 1px 1px 5px 1px #424242;
  box-shadow: 1px 1px 5px 1px #424242;
}

.cards h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  display: inline-block;
  float: left;
}

.cards p {
  display: block;
  margin-top: 53px;
  font-size: 0.9rem;
}

.cards a {
  color: lightgray;
}

.cards a:hover,
.cards a:focus {
  color: grey;
}

.technology-badges {
  display: flex;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  font-size: 1.8rem;
}

#align-right {
  float: right;
  display: inline-block;
  font-size: 1.6rem;
  text-align: right;
}

#align-right i {
  margin-right: 10px;
}

#align-right i:hover,
#align-right i:focus {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  color: black;
  transition: 1s;
  -webkit-transition: 1s;
}

.cards:hover,
.cards:focus {
  transform: translateY(-4%);
  -webkit-transform: translateY(-4%);
  transition: 0.4s ease-out;
  -webkit-transform: 0.4s ease-out;
  -moz-box-shadow: 1px 4px 8px 4px #424242;
  -webkit-box-shadow: 1px 4px 8px 4px #424242;
  box-shadow: 1px 2px 8px 3px #424242;
}

.card-bar {
  position: absolute;
  top: 52px;
  left: 2%;
  height: 1.2%;
  width: 75%;
}

.empty-card-bar {
  background-color: lightgray;
  width: 60%;
  height: 100%;
}

.cards:hover .empty-card-bar,
.cards:focus .empty-card-bar {
  width: 120%;
  background-color: grey;
  transition: 0.6s ease-out;
  -webkit-transition: 0.6s ease-out;
}

/* Technologies Page */

.project-text #yellow-underline {
  border-bottom: solid 3px grey;
  margin-top: 31px;
}

.carousel-container {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carousel-cards {
  display: flex;
  height: 195px;
  width: 150px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem 8px #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.carousel-cards h3 {
  margin-left: 5%;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.carousel-cards i {
  display: block;
  color: black;
  font-size: 7rem;
  margin-top: 15px;
  margin-left: 13px;
}

#unity-correction {
  margin-left: 3px;
}

#adobe-correction {
  margin-left: 8px;
}

.carousel-cards:hover,
.carousel-cards:focus {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
}

.carousel-cards:hover ~ .carousel-cards,
.carousel-cards:focus ~ .carousel-cards {
  position: relative;
  left: 2%;
  transition: 0.4s ease-out;
  -webkit-transition: 0.4 ease-out;
}

.bar {
  position: absolute;
  top: 40px;
  left: 8%;
  height: 1.5%;
  width: 80%;
}

.emptybar {
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

.carousel-cards:hover .emptybar,
.carousel-cards:focus .emptybar {
  width: 80%;
  background-color: grey;
  transition: 0.4s ease-out;
  -webkit-transition: 0.4 ease-out;
}

/* Contacts Page */

#contact {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(imgs/contact.jpeg);
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  z-index: -1;
}

.contact-card {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  height: 350px;
  margin-top: 5%;
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  transition: transform 1s;
  -webkit-transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.contact-card:hover .content,
.contact-card:focus .content {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #17141d;

  color: white;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-box-shadow: 1px 1px 2px 2px #000;
  -webkit-box-shadow: 1px 1px 2px 2px #000;
  box-shadow: 1px 1px 2px 2px #000;
}

#contact-front {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 45%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  padding: 30px;
  border: 2px solid white;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back {
  background: black;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.back h3 {
  font-weight: 200;
  letter-spacing: 0.25rem;
  text-align: left;
  color: grey;
  padding-top: 3%;
  padding-left: 5%;
  margin-bottom: 0;
}

.job {
  letter-spacing: 0.25rem;
  text-align: left;
  padding-left: 5%;
  padding-top: 0;
}

.info {
  margin-top: 20%;
  letter-spacing: 0.25rem;
  text-align: left;
  padding-left: 5%;
}

.info span {
  color: grey;
}

.weblinks {
  font-size: 1.75rem;
  text-align: right;
  margin-right: 5%;
}

.weblinks a {
  padding-left: 2%;
}

footer {
  overscroll-behavior-y: none;
  width: 100%;
  background: #17141d;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer div {
  padding-left: 25px;
  padding-right: 25px;
  color: #f2f5f5;
  font-size: 0.8rem;
}

.footer-icon {
  float: right;
  font-size: 1.1rem;
}

/* CSS Animations */

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  }
}

@keyframes zoom-in {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}

@-webkit-keyframes zoom-in {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) {
  h1 {
    font-size: 1.7rem;
  }

  .nav-expand-button {
    width: 50px;
    height: 50px;
    margin-left: 84%;
    font-size: 1.8rem;
  }

  .nav-close-button {
    width: 52px;
    height: 52px;
    margin-left: 84%;
    font-size: 1.8rem;
  }

  .nav-list a {
    font-size: 1rem;
  }

  .nav-list a:hover:before {
    content: "";
    margin-left: 0px;
  }

  #nav-icon {
    width: 115px;
    height: 115px;
  }

  .nav-contacts a {
    font-size: 1rem;
  }

  .typewriter h2 {
    font-size: 1.1rem;
  }

  .container-common-links {
    width: 45%;
    font-size: 1.4rem;
  }

  #columnOne {
    width: 85%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 25px;
  }

  #columnTwo {
    display: flex;
    justify-content: center;
    align-self: start;
    width: 60%;
    padding-right: 0%;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  #columnOne h2 {
    font-size: 1rem;
    text-align: center;
  }

  .page-container-row h3 {
    font-size: 0.8rem;
    text-align: center;
  }

  .page-container-row p {
    margin-left: 2vw;
    font-size: 0.7rem;
    text-align: center;
  }

  .project-text {
    font-size: 0.7rem;
    width: 80%;
  }

  .project-text h2 {
    font-size: 1rem;
  }

  .project-text h3 {
    font-size: 0.8rem;
  }

  .card-bar {
    top: 40px;
  }

  .cards h3 {
    font-size: 0.7rem;
    padding-left: 5px;
  }

  .cards p {
    font-size: 0.7rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .carousel-container {
    width: 90%;
  }

  .carousel-cards {
    height: 130px;
    width: 100px;
    border-radius: 10px;
  }

  .carousel-cards h3 {
    margin-left: 5%;
    font-size: 0.7rem;
  }

  .carousel-cards i {
    font-size: 3.5rem;
    margin-top: 15px;
    margin-left: 13px;
  }

  #unity-correction {
    margin-left: 3px;
  }

  #adobe-correction {
    margin-left: 8px;
  }

  .contact-card {
    width: 70%;
    height: 206px;
  }

  #contact-front {
    width: 75%;
    font-size: 0.9rem;
    padding: 5px;
  }

  .back {
    font-size: 0.45rem;
  }
  .info {
    margin-top: 25%;
  }

  .weblinks {
    font-size: 1rem;
  }

  .cards {
    width: 98%;
    margin-bottom: 5%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 550px) {
  h1 {
    font-size: 2.5rem;
  }

  .nav-expand-button {
    width: 55px;
    height: 55px;
    margin-left: 87%;
    font-size: 1.9rem;
  }

  .nav-close-button {
    width: 57px;
    height: 57px;
    margin-left: 87%;
    font-size: 1.9rem;
  }

  .nav-list a {
    font-size: 1.1rem;
  }

  .nav-list a:hover:before {
    content: "\2605";
    margin-left: 12%;
  }

  #nav-icon {
    width: 160px;
    height: 160px;
  }

  .nav-contacts a {
    font-size: 1.1rem;
  }

  .typewriter h2 {
    font-size: 1.4rem;
  }

  .container-common-links {
    width: 30%;
    font-size: 1.8rem;
  }

  #columnOne {
    width: 80%;
    padding-left: 0%;
    padding-right: 0%;
  }

  #columnTwo {
    display: flex;
    justify-content: center;
    align-self: start;
    width: 50%;
    padding-right: 0%;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  #columnOne h2 {
    font-size: 1.1rem;
    text-align: center;
  }

  .page-container-row h3 {
    font-size: 0.9rem;
    text-align: center;
  }

  .page-container-row p {
    margin-left: 2vw;
    font-size: 0.8rem;
    text-align: center;
  }

  .project-text {
    font-size: 0.8rem;
  }

  .project-text h2 {
    font-size: 1.1rem;
  }

  .project-text h3 {
    font-size: 0.9rem;
  }

  .card-bar {
    top: 42px;
  }

  .cards h3 {
    font-size: 0.7rem;
    padding-left: 0px;
  }

  .cards p {
    font-size: 0.7rem;
    padding-left: 0px;
    padding-left: 0px;
  }

  .carousel-container {
    width: 90%;
  }

  .carousel-cards h3 {
    font-size: 0.7rem;
  }

  .contact-card {
    width: 51%;
    height: 260px;
  }

  #contact-front {
    width: 70%;
    font-size: 1rem;
    padding: 10px;
  }

  .back {
    font-size: x-small;
  }

  .info {
    margin-top: 25%;
  }

  .weblinks {
    font-size: 1.2rem;
  }

  .cards {
    width: 47%;
    margin-bottom: 3%;
    padding: 1%;
  }
}

/* Medium devices (landscape tablets, 768px and up - ipad mini 5 both ways) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .nav-expand-button {
    width: 60px;
    height: 60px;
    margin-left: 89%;
    font-size: 2rem;
  }

  .nav-close-button {
    width: 62px;
    height: 62px;
    margin-left: 89%;
    font-size: 2rem;
  }

  .nav-list a {
    font-size: 1.2rem;
  }

  .nav-list a:hover:before {
    margin-left: 22%;
  }

  #nav-icon {
    width: 170px;
    height: 170px;
  }

  .nav-contacts a {
    font-size: 1.2rem;
  }

  .typewriter h2 {
    font-size: 1.6rem;
  }

  .container-common-links {
    width: 25%;
    font-size: 2rem;
  }

  .page-container-row {
    min-height: 100%;

    display: flex;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .page-container-row h3 {
    text-align: left;
  }

  .page-container-row p {
    margin-left: 2vw;
    text-align: left;
  }

  #columnOne h2 {
    text-align: left;
  }

  #columnOne {
    width: 80%;
    padding-left: 0%;
    padding-right: 0%;
  }

  #columnTwo {
    display: flex;
    justify-content: center;
    align-self: start;
    width: 35%;
    padding-right: 0%;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  #columnOne h2 {
    font-size: 1.1rem;
    text-align: center;
  }

  .page-container-row h3 {
    font-size: 1rem;
    text-align: left;
  }

  .page-container-row p {
    margin-left: 2vw;
    font-size: 0.9rem;
  }

  .project-text {
    font-size: 0.9rem;
  }

  .project-text h2 {
    font-size: 1.2rem;
  }

  .project-text h3 {
    font-size: 1rem;
  }

  .card-bar {
    top: 46px;
  }

  .cards h3 {
    font-size: 0.8rem;
  }

  .cards p {
    font-size: 0.8rem;
  }

  .carousel-cards {
    height: 195px;
    width: 150px;
  }

  .carousel-cards h3 {
    margin-left: 5%;
    font-size: 0.8rem;
  }

  .carousel-cards i {
    font-size: 7rem;
    margin-top: 15px;
    margin-left: 13px;
  }

  #unity-correction {
    margin-left: 3px;
  }

  #adobe-correction {
    margin-left: 8px;
  }

  .contact-card {
    width: 44%;
    height: 280px;
    padding-left: 5%;
  }

  #contact-front {
    width: 65%;
    font-size: 0.9rem;
    padding: 18px;
  }

  .back {
    font-size: 0.8rem;
  }

  .info {
    margin-top: 17%;
  }

  .weblinks {
    font-size: 1.4rem;
  }

  .cards {
    width: 47%;
    margin-bottom: 3%;
    padding: 1%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1050px) {
  h1 {
    font-size: 3.25rem;
  }

  .nav-expand-button {
    width: 65px;
    height: 65px;
    margin-left: 91%;
    font-size: 2.1rem;
  }

  .nav-close-button {
    width: 67px;
    height: 67px;
    margin-left: 91%;
    font-size: 2.1rem;
  }

  .nav-list a {
    font-size: 1.4rem;
  }

  .nav-list a:hover:before {
    margin-left: 25%;
  }

  #nav-icon {
    width: 180px;
    height: 180px;
  }

  .nav-contacts a {
    font-size: 1.4rem;
  }

  .typewriter h2 {
    font-size: 1.8rem;
  }

  .container-common-links {
    width: 25%;
    font-size: 2.25rem;
  }

  #columnOne {
    width: 45%;
    padding-left: 5%;
    padding-top: 0px;
  }

  #columnOne h2 {
    text-align: left;
  }

  #columnTwo {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30%;
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 0;
  }

  #columnOne h2 {
    font-size: 1.4rem;
  }

  .page-container-row h3 {
    font-size: 1rem;
    text-align: left;
  }

  .page-container-row p {
    margin-left: 2vw;
    font-size: 0.9rem;
  }

  .project-text {
    font-size: 0.9rem;
    width: 70%;
  }

  .project-text h2 {
    font-size: 1.4rem;
  }

  .project-text h3 {
    font-size: 1rem;
  }

  .card-bar {
    top: 50px;
  }

  .carousel-container {
    width: 80%;
  }

  .contact-card {
    width: 45%;
    height: 300px;
    font-size: 2rem;
    padding: 30px;
  }
  .back {
    font-size: 1rem;
  }

  #contact-front {
    font-size: 1rem;
  }

  .info {
    margin-top: 23%;
  }

  .weblinks {
    font-size: 1.6rem;
  }
  .cards {
    width: 30%;
    margin-bottom: 2%;
    padding: 1%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 3.5rem;
  }

  .nav-expand-button {
    width: 70px;
    height: 70px;
    margin-left: 92%;
    font-size: 2.2rem;
  }

  .nav-close-button {
    width: 72px;
    height: 72px;
    margin-left: 92%;
    font-size: 2.2rem;
  }

  .nav-list a {
    font-size: 1.5rem;
  }

  .nav-list a:hover:before {
    margin-left: 30%;
  }

  #nav-icon {
    width: 190px;
    height: 190px;
  }

  .nav-contacts a {
    font-size: 1.5rem;
  }

  .typewriter h2 {
    font-size: 2rem;
  }

  .container-common-links {
    width: 25%;
    font-size: 2.5rem;
  }

  #columnOne {
    width: 54%;
    padding-left: 5%;
  }

  #columnTwo {
    display: flex;
    justify-content: center;
    width: 28%;
    padding-right: 5%;
  }
  #columnOne h2 {
    font-size: 1.5rem;
  }

  .page-container-row h3 {
    font-size: 1.1rem;
    text-align: left;
  }

  .page-container-row p {
    margin-left: 2vw;
    font-size: 0.9rem;
  }
  .project-text {
    font-size: 0.9rem;
    width: 60%;
  }

  .project-text h2 {
    font-size: 1.5rem;
  }

  .project-text h3 {
    font-size: 1.1rem;
  }

  .card-bar {
    top: 55px;
  }

  .cards h3 {
    font-size: 0.9rem;
  }

  .cards p {
    font-size: 0.9rem;
  }

  .carousel-cards h3 {
    font-size: 0.9rem;
  }

  .contact-card {
    width: 41%;
    height: 315px;
  }

  .info {
    margin-top: 24%;
  }

  .back {
    font-size: 0.9rem;
  }

  .weblinks {
    font-size: 1.8rem;
  }

  .cards {
    width: 30%;
    margin-bottom: 2%;
    padding: 1%;
  }
}

@media only screen and (min-width: 1450px) {
  h1 {
    font-size: 3.5rem;
  }

  .nav-expand-button {
    width: 70px;
    height: 70px;
    margin-left: 94%;
    font-size: 2.2rem;
  }

  .nav-close-button {
    width: 72px;
    height: 72px;
    margin-left: 94%;
    font-size: 2.2rem;
  }

  .nav-list a {
    font-size: 1.6rem;
  }

  .nav-list a:hover:before {
    margin-left: 32%;
  }

  #nav-icon {
    width: 200px;
    height: 200px;
  }

  .nav-contacts a {
    font-size: 1.6rem;
  }

  .typewriter h2 {
    font-size: 2.2rem;
  }

  .container-common-links {
    width: 25%;
    font-size: 2.75rem;
  }

  #columnOne {
    width: 50%;
    padding-left: 5%;
  }

  #columnTwo {
    width: 25%;
    padding-right: 5%;
  }
  #columnOne h2 {
    font-size: 1.6rem;
  }

  .page-container-row h3 {
    font-size: 1.1rem;
    text-align: left;
  }

  .page-container-row p {
    margin-left: 2vw;
    font-size: 1rem;
  }

  .project-text {
    font-size: 1rem;
  }

  .project-text h2 {
    font-size: 1.6rem;
  }

  .project-text h3 {
    font-size: 1.1rem;
  }

  .contact-card {
    width: 34%;
    height: 350px;
  }

  .back {
    font-size: 1rem;
  }

  .info {
    margin-top: 24%;
  }

  .weblinks {
    font-size: 1.8rem;
  }

  .cards {
    width: 30%;
    margin-bottom: 2%;
    padding: 1%;
  }
}
